body{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: #78A46A;
}

main{
    display: grid;
    grid-template-columns: repeat(5,20%);
    background-color: #dad8d8;
    border: none;
    margin:0 auto;
    max-width: 69%;
    height:auto;
}

main>input[type="text"][name="cadena"]{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 1.6666666666666667em;
    text-align: right;
    border:none;
    font-size:1em;
    background-color: #ffffff;
}

main>input[type="text"][name="pantalla"]{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    padding: 1.6666666666666667em;
    text-align: right;
    border:none;
    font-size:1em;
    background-color: #ffffff;
}

input[name="cero"],input[name="uno"],input[name="dos"],input[name="tres"],input[name="cuatro"],input[name="cinco"],input[name="seis"],input[name="siete"],
input[name="ocho"],input[name="nueve"],input[name="punto"]{
    background-color: white;
}

input{
    padding: 0.6em;
    font-size:1.5625em;
    margin:0.1em;
    border:none;
    
}

label[for="cadena"]{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size:1.5625em;
    background-color: #000;
    color:#FFFF;
    font-weight: bolder;
    margin:0.05em;
}

label[for="pantalla"]{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size:1.5625em;
    background-color: #000000;
    color: #ffffff;
    font-weight: bolder;
    margin:0.05em;
}

main>input[name="F-E"]{
    grid-row-start: 5;
    grid-row-end:5;
    grid-column-start: 3;
    grid-column-end:6;
    max-width: 3.2618759999999996em;
    
}

main>input[type="button"]:active{
    background-color: aliceblue;
}

main>input[type="button"]:hover{
    background-color: #b1b0b0;
}

input[name="unidades"],input[name="HYP"],input[name="F-E"],input[name="MC"],input[name="MR"],input[name="M+"],input[name="M-"],input[name="MS"]{
    background-color: #dbd8d8;
}