/* Especifidad = 001 */
h1{
    background-color: #0000ff;
    color:#ffffff;
    padding:2em;
    text-align: center;
}

/* Especifidad = 001 */
h2{
    background-color: aquamarine;
    color:black;
    padding:1.5em;
    margin: 0 auto;
}

/* Especifidad = 001 */
section{
    border-radius: 0.25em;
    border-style: double;
    margin:0.25em;
}

/* Especifidad = 001 */
img{
    margin:0.5em;
}