h1{
    padding:2em;
    background-color: #D99F0D;
    color:#000;
    text-align: center;
}

section:first-of-type{
    display: flex;
    flex-direction: column;
}

section{
    border-radius: 0.25em;
    background-color: bisque;
    margin:0.5em;
}

textarea{
    max-width: 81.0625em;
    max-height: 21.3125em;
}
