/* Especifidad = (0,0,1)*/
body{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

/* Especifidad = (0,0,1)*/
main{
    display: grid;
    grid-template-columns: repeat(5,20%);
    margin: 0 auto;
    border-style: solid;
    background-color: #c7c7c7af;
    max-height: fit-content;
    width:50%;
    height:auto;
}

/* Especifidad = (0,0,1)*/
textarea{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 11.666666666666666em;
    font-size: 1em;
    resize: none;
}

/* Especifidad = (0,0,1)*/
label{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size:1em;
    background-color: #c7c7c7af;
}

/* Especifidad = (0,0,1)*/
input{
    padding:1.1250028125070313em;
    margin:0.5em;
    
}

/* Especifidad = (0,2,2)*/
main>input[type="button"]:active{
    background-color: aliceblue;
}

/* Especifidad = (0,2,2)*/
main>input[name="enter"]{
    grid-column-start:4;
    grid-column-end:6;
    grid-row-start: 3;
    grid-row-end:3;
    text-align: center;
}



