body{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 0 auto;
    border-style: solid;
    background-color: rgba(199, 199, 199, 0.685);
    max-height: fit-content;
    width:50%;
    height:auto;
}


textarea{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 140px;
    border-top: 0em;
    text-align:top;
    font-size:12px;
}

label{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size:25px;
    background-color: rgb(168, 253, 151);
}

input{
    padding:15px;
    margin:0.5em;
    
}

main>input[type="button"]:active{
    background-color: aliceblue;
}

main>input[name="enter"]{
    grid-column-start:4;
    grid-column-end:6;
    grid-row-start: 3;
    grid-row-end:3;
    text-align: center;
}



